h3 {
   color: #F57D7C;
   text-decoration: underline;
}

.photos {
   text-align: center;
   display: block;
   justify-content: center;
}

img { 
   width: 120px;
   height: 120px;
   padding: 1px;
   border: 1px solid #021a40;
}

